*{box-sizing:border-box;}

body{
    font-family:sans-serif;

    background-color:honeydew;

    margin:15px;

    padding:25px;

}

.card{
    max-width: 600px;

    margin: 0;

    padding: 24;

    background-color:black

    border= 4px darkslategray;

    h1{
        color:#2F4F4F;
    }
    p{
        color:#36454F;
    }

    
}

